
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  margin-top: 100px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app div{
  background-color: blue;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}